html {height: 100%;}
BODY {
	height: 100%;
	SCROLLBAR-FACE-COLOR: #526D94; 
	SCROLLBAR-HIGHLIGHT-COLOR: #526D94; 
	SCROLLBAR-SHADOW-COLOR: #295184; 
	SCROLLBAR-3DLIGHT-COLOR: #999999; 
	SCROLLBAR-ARROW-COLOR: #7392BD; 
	SCROLLBAR-TRACK-COLOR: #7392BD; 
	SCROLLBAR-DARKSHADOW-COLOR: #295184;
	/*text-align: left;*/
	background-color: #CCD9E2; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: 11px;
	/*color: #ACC0D6;*/
}


#outer,#todo {height: 100%; overflow: visible;} /* or without overflow */

h2 {
	background: url(../images/fondo_h2.png) repeat-x;
	padding: 0.5em 0; 
	border: 1px solid #CCCCCC;
}

/*titulo de la pagina */ 
td.style_titulo {	
	/*font-weight: bold;*/
	text-transform: lowercase;
	color: #5A5D62;
	font-size: 14px;
}
/*fin de titulo de la pagina*/

/*bienvenido en la pagina*/
td.style_bienvenido {
	font-size: 10px; 
	text-align: left;
	color: #5A5D62;
	height: 29px;
}
/*fin de bienvenido*/

.centro{
	background-color: #FFFFFF;	
}

#superior{
	background-repeat: repeat-x;
	height: 41px;
	text-align: left;
}

#inferior{
	background-repeat: repeat-x;
	height: 41px;
}

#inferior table{
	width:100%;
}

/*para las tablas*/
td.style_titulo_tabla {	
	/*font-weight: bold;*/
	text-transform: capitalize;
	color:#FFFFFF;
	font-size: 14px;
	background-color:#526D94;
}

tr.filaTabla1{
	background-color: #F9F9F9;
}

tr.filaTabla2{
	background-color: #FFFFFF;
}

td.contenido_tabla {
	font-size: 10px; 
	text-align: left;
	color: #5A5D62;
}
/*fin de para las tablas

/* links */
a {
  color: #5A5D62;
  text-decoration: underline;
}

a:hover {
 	color: #999999;
}

a:visited {
  color: #5A5D62;
}

/* fin de links */

/*mensajes de error*/
.msg_error{
	font-size: 15px;
	text-transform: uppercase;
   	color: "#FF0000";	
	font-weight: bold;
	text-align: left;
}

/*mensaje operacion correcta*/
.msg_ok{
	font-size: 15px;
	text-transform: uppercase;
   	color:"#66CCFF";	
	font-weight: bold;
	text-align: left;
}

/* Novedades */
.titulo_novedad{
	text-transform: uppercase;
   color: #526D94;	
	font-weight: bold;
	text-align: left;
}

.cuerpo_novedad{
	text-align: justify;
}

.aviso_adjunto{
	font-size: 10px;
}
/* fin de novedades*/

/* elemntos de formulario */
input,select,textarea, button{
   background-color: white;
	color: #5a5d62;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #294D7B;
}
/* fin de elementos de formulario */





#main {
  font-size: 12px;
  color: #163351;
  /*background-color: #506E91;*/
  width: 100%;
  height: 100%;
  padding: 0px;
 }
 
td.#infoApp{
 	text-align: right;
 }
 
#separador{
 	height: 30px;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #5A5D62;
 }

td.sinBorde { border: 0;}
td.sinBordeRight { border: 0; text-align: right;  white-space: nowrap; }
td.right{	text-align: right;	}
td.center{	text-align: center;	}

.title {
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	background-color: #294D7B;
	color: #DEE4F3;
	text-transform: capitalize;
	text-align: center;
}

tr.subTitle{
  color: #294D7B;					/*#DEE4F3;*/
  background-color: #95AEC5;	/*#506E91;*/
}
 
.acciones {
	background: #294D7B;
	color: #DEE4F3;
	text-align: center;  	
   border: 0;
}

td.acciones a{
	background: #294D7B;
	color: #DEE4F3;
	text-align: center;  	
}

td.acciones a:hover{
	background: #294D7B;
}
 
tr.info {
	background: #294D7B;
	color: #DEE4F3;
	text-align: center;
  	font-weight: bold;
	font-size: 12px;  
} 

td.info{
 	background: #ACC0D6;
	color: #294D7B;
	text-align: center;
}

.reporte{
	/*background-color: #294D7B;
	color: #DEE4F3;*/
	border:none;
	text-align: center;
	background-color: #7599BB; 
	color:#DEE4F3;
}

th.reporte a{
	color: #DEE4F3;
}

tr.menuFiltro{
  color: #294D7B;					/*#DEE4F3;*/
  background-color: #95AEC5;	/*#506E91;*/
  border: 0;
}

.menuAcciones{
  color: #294D7B;					/*#DEE4F3;*/
  background-color: #95AEC5;	/*#506E91;*/
  border: 0;
}

tr.reportRow1:hover,tr.reportRow2:hover {
	background-color: #D5EAF8;
}

tr.reportRow1{
  color: #294D7B;					/*#DEE4F3;*/
  background-color: #FFFFFF;	/*#506E91;*/  
}

tr.reportRow2{
	background-color: #F6F6F6; 		/*#DEE4F3;*/
	color: #294D7B;
}

td.login{
	color: #8CBAFF;
}

td.loginr{
	color: #8CBAFF;
	text-align: right;
}

td.loginl{
	color: #8CBAFF;
	text-align: left;
}
 
table.menu{
  border: hidden;
  color: #163351;
  background-color: #506E91;
 }
 
td.menutitle {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #DEE4F3;
	text-decoration: none;
	text-align: center;
	cursor: default;
} 

.menuitemborder{
	position:absolute;
	visibility:hidden; 
}
 
.menuitem {
	background-color: #7599BB;
	border: 1px Black;
	text-align: left;
	color: #163351;
	background-image:url(../images/fondo_menu_item.gif);
	background-repeat: repeat-x;
	cursor: default;
	padding: 5px;
	font-size:11px;
}

.menuitemover	{
	background-color: #FFF1A3;
	text-align: left;
	font-weight: bolder;
	color: #163351;
	background-image:url(../images/fondo_menu_item_over.gif);
	background-repeat: repeat-x;
	cursor: default;
	padding: 5px;
	font-size:11px;	
}

.submenuitemborder{
	position:absolute;
	visibility:hidden;
	background-color:#7599BB;
}

.submenuitemover {
	position:absolute; 
	padding: 2px;
	background-color: #9EC0D8;
	border: 1px Black;
	text-align: left;
	color: #163351;
	cursor: default;
	font-size:11px;
}

.submenuitem {
	position:absolute; 
	padding: 2px;
	background-color: #D5E2EE;
	border: 1px Black;
	text-align: left;
	color: #163351;
	cursor: default;
	font-size:11px;
}


td.menuitem{
	padding: 5px;
}

td.menuitem a:hover {
	color: #163351;
}

td.horasCumplidas{
	color: Green;
}

td.horasNoCumplidas{
	color: Red;
}

th.selectedMenuitem,td.selectedMenuitem{
	/*border: thin #1E3A5B;*/
	background: #D5E2EE;
	border: 1px Black;
	color: #1E3A5B;
	cursor: default;
	text-align: center;
}

th.selectedMenuitem a:hover,td.selectedMenuitem a:hover{
	color: #1E3A5B;
}

th.sysconfig {
	vertical-align: top;
	text-align: left;
}

.tip {
  font-size: 10px;
  font-style: normal; 
  line-height: normal; 
  font-weight: bold; 
  color: #163351; 
  text-decoration: none;
}

span.successMsg {
	color: Green;
	font-size: 18px;
}

.errorMsg {
	color: red;
	font-size: 8pt;	
}

.tituloAviso {
	font-size: 16pt;
}

.aviso {
	text-align: left;
}

.lstAviso {
	border:none;
	text-align: left;
}

.lstAvisoNew {
	border:none;
	text-align: left;
	font-weight: bold;
	background-color: #7599BB; 
}

hr {
	color: #DEE4F3;
}

div.tooltip {
	color: black; 
	font-size: 8pt; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute; 
	left:13px; 
	top:49px;
	visibility:hidden;
	text-align: left;
	background-color : #FFFFE1;
}

td.barraDerecha{
	padding: 8px;
}

tr.headerLista {
	background-color: #868EA4;
}

tr.headerNoInstalados{
	background-color: Red;
}

tr.headerInstalados{
	background-color: Green;
}

td tr.headerLista{
	color: White;
}

td tr.headerNoInstalados{
	font-weight: bold;
	color: White;
}

td tr.headerInstalados{
	font-weight: bold;
	color: White;
}

#barraEstado {
	font-size: 11px;
	color: #DEE4F3;
	text-align: right;
	height: 11px;
}

.equipo{
	list-style-type:  square;	
	display: list-item;
	word-wrap: none;
	margin: 0 15px;
}

table.reserva{
	width: 100%;
}

.tagLista{
	white-space:nowrap;
	font-weight:bolder;
}


.muerto td{
	text-decoration: line-through;
}

#filtro{
	display: none;
}

/* mensaje ajax */
#message{
	display:none;
}
#message.message {
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #ffc;
	border: 1px solid #666;
	text-align: center;
	z-index: 40;
	display:block;
}

#message.error {
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #f00;
	border: 1px solid #666;
	text-align: center;
	z-index: 40;
	display:block;
}

/* mensaje ajax */

#lista table th
{
	background-color: #96B0C7;
	color: white;
	font-size: 12pt;
	padding-left: 5px;
	padding-right: 5px;
}


/******************************/
/** Elementos de formulario  **/
/******************************/

table.formulario{
  background-color: #95AEC5;
}

table.formulario tr{
  color: #294D7B;					/*#DEE4F3;*/
  /*background-color: #95AEC5;	/*#506E91;*/
  border: 0;
  text-align: left;
}

table.formulario td{
  text-align: left;
}

input,textarea,button{
	background: #D5E2EE;
	color: #294D7B;
	border: 1px solid #294D7B;
}

input.boton {
	border-color: #EDF4F8 #295184 #295184 #EDF4F8;
	border: solid thin;
}

td.formField,select{
	background: #D5E2EE;
	color: #294D7B;
	text-align: left;
}

.boton {
	FONT-SIZE: 11px; 
	BACKGROUND: #CCCCCC; 
	COLOR: #000000; 
}

span.boton{
	FONT-SIZE: 12px; 
	font-weight: bolder;
	white-space: nowrap;
}


.boton_verde {
	FONT-SIZE: 11px; 
	BACKGROUND: #009933; 
	COLOR: #ffffff; 
}

span.boton_verde{
	FONT-SIZE: 12px; 
	font-weight: bolder;
	white-space: nowrap;
}

input.boton_verde:disabled {
	COLOR: #CCCCCC; 
}

.boton_rojo {
	FONT-SIZE: 11px; 
	BACKGROUND: #FF0000; 
	COLOR: #ffffff; 
}

span.boton_rojo{
	FONT-SIZE: 12px; 
	font-weight: bolder;
	white-space: nowrap;
}


input.boton_rojo:disabled {
	COLOR: #CCCCCC; 
}

input
{
	/*background-image:url(../images/fondo_menu_item2.gif);*/
	border: 1px solid #294D7B;
}

table, td
{
	border: 0px;
	margin:0px;
	border-collapse: collapse;
	padding: 0px;
	vertical-align: top;
}

button:hover
{
	cursor: pointer;
}

.link_filtro
{
	cursor: pointer;
}

.luxForm
{
	background-color: #d5e2ee;
}
.filaLista1
{
	background-color: #FFFFFF;
}

.filaLista2
{
	background-color: #EEEEEE;
}

.titulo_pagina
{
	background-color: #7599bb;
	font-size: 14px;
	padding: 5px;
	color: #FFFFFF;
	font-weight:bolder;
	text-align:center;
}

.sub-titulo
{
	background-color: #7599BB;
	font-weight: bold;
	margin-top: 5px;
	border: 1px solid #5A5D62;
	margin: 2px;
	padding: 3px;
	height: 15px;

}

.sub-titulo-verde
{
	background-color: #79D2A0;
	font-weight: bold;
	margin-top: 5px;
	border: 1px solid #5A5D62;
	margin: 2px;
	padding: 3px;
	height: 15px;
}

.sub-titulo-rojo
{
	background-color: #FF4646;
	font-weight: bold;
	margin-top: 5px;
	border: 1px solid #5A5D62;
	margin: 2px;
	padding: 3px;
	height: 15px;
}

.sub-titulo-gris
{
	background-color: #DDDDDD;
	font-weight: bold;
	margin: 0px;
	border: 1px solid #5A5D62;
	height: 15px;
	padding: 3px;
}

button
{
	margin: 2px;
	color: #294D7B;
	width:120px;
}

button:disabled
{
	color: #666666;
	background-color: #CCCCCC;
	border: 1px solid #666666;
	width:120px;
}

input:disabled
{
	color: #999999;
	background-color: #DDDDDD;
	border: 1px solid #999999;
}

.r1
{
	background-color: #FFFFFF;
}
.r2
{
	background-color: #D5E2EE;
}

.r1 td, .r2 td {
	border-left: #CCCCCC solid 1px;
	padding: 2px;
	white-space: nowrap;
}

.rSel
{
	background-color: #96B0C7;
}

.tabla_filtro
{
	margin: 0px;
	width: 100%;
	border: 1px solid #5A5D62;
	background-color: #DDDDDD;
}

.tabla_filtro td {
	padding-left: 10px;
}

#btnCerrar {
	position:absolute; 
	right:10px; 
	top:5px;
	width: 42px;
	height: 17px;
	background: transparent url(../images/cerrar.gif) no-repeat;
}

#tabla_login
{
	width: 600px;
}

#tabla_login td
{
	padding: 3px;
}

#form_planificacion {
	margin-top: 25px;
}

#cabeceraUsuario {
	padding-top: 30px;
	margin-top: 10px;
	background: url(../images/header_logo_banner.gif) no-repeat;
}
#cabeceraUsuario table td{
	padding: 5px;
}

.tituloApp{
	background: url(../images/fondo_top.jpg) repeat-x;
	height: 49px;
}

.tituloApp h4 {
 	margin-top: 0px;
}

#logo {
	background: transparent url(../images/logo_FCE.jpg) no-repeat scroll 0 0;
	float:left;
	height: 75px;
	width: 150px;
	margin: 45px;
	margin-bottom: 0px;
}

#botonesMetas {
	float:right;
}

#listaMetas {
	border: #000000 solid 1px;
	height: 200px;
	width: 750px;
	overflow: auto;
}

#listaMetas table, #listaMetas td{
	border: solid 1px #cccccc;
}

#listaMetas th{
	background-color: #cccccc;
}

div#contenido {
	width:  920px;
	margin: auto;
	text-align: left;
}

#Meta{
	position: absolute;
	left:50%;
	top:50%;
	min-width: 450px;	
	background-color: white;
	border: solid 2px #CCD9E2;
}
#Meta td {
	padding: 10px;
}

.seleccionado
{
	background-color: #0087C1;
	color: white;
}

#contenido td {
	padding: 5px;
}

table.lista , table.lista td{
	border: solid 1px #CCCCCC;
}
table.lista th{
	background-color: #CCCCCC;
}

#listaDocentes{
	border: 3px solid #D5EAF8;
	-moz-border-radius: 5px 5px 5px 5px; 
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#Docente {
	position: absolute;
	left:50%;
	top:50%;
	min-width: 450px;	
	background-color: white;
	border: solid 7px #D5EAF8;
	-moz-border-radius: 5px 5px 5px 5px; 
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
